<html>
<head>

    <link href="<?php echo e(asset('/css/loginstyle.css')); ?>" rel="stylesheet">

</head>
<body>
<div class="login-container">
    <div class="login-header">
        <center><img src='./images/icon3.png'  style=' height: 50px; width: 180px;' ></center>
    </div><br /><center>
        <?php if(count($errors) > 0): ?>
            <div>
                <ul>
                    <?php foreach($errors->all() as $error): ?>
                        <li><?php echo e($error); ?></li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endif; ?>
        <form action="<?php echo e(url('/register')); ?>" method="post">
            <input type="hidden" name="_token" value="<?php echo e(csrf_token()); ?>">

            <input type="text" class="form" placeholder="Full Name" name="name" value="<?php echo e(old('name')); ?>"><br>
            <input type="email" placeholder="E-Mail" class="form" name="email" value="<?php echo e(old('email')); ?>"><br />
            <input type="text" class="form" placeholder="User Name" name="userName" value="<?php echo e(old('userName')); ?>"><br>
            <input type="password" name="password" placeholder="Password" class="form"><br />
            <input type="password" class="form" placeholder="Verify Password" name="passwordv"><br><br>
            <input type="submit" class="button-style" value="Register">
        </form>
    </center>
</div>
</body>
</html>
