body{
    margin:0px;
    font-family:arial;
}
a{
    text-decoration:none;
    color:white;
}
#header{
    width:100%;
    background-color:blue;
    height:50px;
    color:white;
}
#buttons{
    font-size:15px;
    position:absolute;
    padding-top:17px;
    top:0px;
    right:40px;
}
#logobox{
    position:absolute;
    padding-top:10px;
    left:30px;
    font-size:25px;
}

